{
    "compact": false,
    "presets": [
        "env",
        "react"
    ],
    "plugins": [
        "transform-object-rest-spread",
        "syntax-dynamic-import",
        "react-loadable/babel",
        [
            "import",
            {
                "libraryName": "antd",
                "libraryDirectory": "es",
                "style": "css"
            }
        ]
    ]
}
