# Miscellaneous
node_modules/*
*.log*
playground/*
**/.DS_Store

# Dist
dist/index.js
dist/index.js.map
dist/loadable-stats.json
dist/public/*
!dist/public/.gitkeep
dist/templates/*
!dist/templates/.gitkeep
dist/lint-report.html

# Logs
logs/*
!logs/.gitkeep